body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f2; /* Light pink background */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #ff66b2; /* Dark pink header background */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ff66b2; /* Border color matches header background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

footer {
    background-color: #ff66b2; /* Dark pink footer background */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

